.App {
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../src/img/stone-wall-and-floor.jpg);
  height: auto;
}

body {
  margin: 0;
  background-color: rgb(46, 46, 46);
  height: 100vh;
  display: auto; /* flex */
}

.appHeader {
  /*ONLY THING THAT MATTERS BG COLOR*/
  background-color: rgba(17, 17, 36, 0.5);
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /*  align-items: center; */
  /* justify-content: center; */
  font-size: calc(11px + 2vmin);
}

.appLink {
  color: #09d3ac;
}
