.App {
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../src/img/stone-wall-and-floor.jpg);
  height: auto;
}

.appHeader {
  /*ONLY THING THAT MATTERS BG COLOR*/

  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /*  align-items: center; */
  /* justify-content: center; */
  font-size: calc(11px + 2vmin);
}

.appLink {
  color: #09d3ac;
}
