@import url("https://fonts.googleapis.com/css?family=VT323");
/*
body {
  font-family: 'VT323', monospace;
  background-color: #003B00;
  padding: 1em 2em;
}
*/

p {
  color: #09d3ac;
}

.cursor {
  border-left: 0.1em solid #09d3ac;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
