@import url("https://fonts.googleapis.com/css?family=VT323");

p {
  color: #09d3ac;
}

.cursor {
  border-left: 0.1em solid #09d3ac;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
