.about {
  /*color: #ffe4;*/
  color: #ffb000;
}

.jumbotron {
  background-image: url(../../img/RGBL21.gif);
  background-repeat: no-repeat;
  height: 75vh;
  background-size: cover;
}

.typeWriter {
  height: 10vh;
}

.aboutCard {
  opacity: 0.6;
}

h1,
h2 {
  color: #ffe4;
}
