.screen1 {
  height: 100vh;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../../img/RGBL21.gif);
  background-repeat: no-repeat;
  height: 30vh;
  padding: 15px;
  background-size: cover;
  border: 6px ridge #333;
  box-shadow: 10px 10px 20px azure;
}

.logo {
  animation: appLogoSpin infinite 20s linear;

  pointer-events: none;
  opacity: 0.3;
  max-width: 250px;
  max-height: 250px;
}

.logoBox {
}
@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typeWriter {
  min-height: 12vh;
}
