.App {
  text-align: left;
  opacity: 0.8;
  max-height: 40vh;
}

.terminal {
  font-size: 12px;
}

.screen {
  height: 100vh;

  padding: 40px;
  background-image: url(../../img/RGBL21.gif);
  background-repeat: no-repeat;

  background-size: cover;
}

.appLogo {
  animation: appLogoSpin infinite 20s linear;

  pointer-events: none;
  opacity: 0.3;
  max-width: 120px;
  max-height: 120px;
}
@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appLink {
  color: #09d3ac;
}
