.jumbotron {
  background-image: url(../../img/fusion-medical-animation-rnr8D3FNUNY-unsplash.jpg);
  padding-bottom: 10px;
  background-size: cover;
}

.darkoverlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: auto;
  z-index: 0;
}

.logo {
  animation: appLogoSpin infinite 20s linear;

  pointer-events: none;
  opacity: 0.3;
  max-width: 250px;
  max-height: 250px;
}

.logoBox {
}
@keyframes appLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typeWriter {
  min-height: 12vh;
}
